    <section id="collage">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-0">
                    <div id="selected"></div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div id="list">
                    {% for collage in site.data.collage %}
                        <div class="card collage-link" id="{{ collage.name }}" data-size="{{ collage.size }}" data-full="{{ site.baseurl }}/img/collage/full/{{ collage.name }}.jpg">
                            <div class="card-content">
                                <p>{{ collage.title }}</p>
                            </div>
                            <div class="card-image">
                                <div class="overlay">
                                    <div></div>
                                </div>
                                <img src="{{ site.baseurl }}/img/collage/thumbs/{{ collage.name }}.jpg">
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
