    <!-- Owl CSS -->
    <link rel="stylesheet" href="{{ "/css/owl.carousel.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/owl.theme.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/owl.transitions.min.css" | prepend: site.baseurl }}">

    <!-- ProgressBar CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap-progressbar-3.2.0.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
