<!-- Header -->
    <header data-parallax="scroll" data-image-src={{"/img/header-bg.png" | prepend: site.baseurl}} data-speed="0.5">
        <div class="container-sidebar">
            <div class="intro-text">
                <img class="img-circle img-responsive" src={{"/img/Nirmal.jpg" | prepend: site.baseurl}}>
                <div class="intro-lead-in">Nirmal Hruday S V</div>
                <div class="intro-lead-info">Creative | Team Leader | Flexible</div>
                <div class="intro-lead-info">+91-8247568129</div>
                <div class="intro-lead-info">svnh089@gmail.com</div>
                <a href="#skills" class="page-scroll btn-large btn-floating"><i class="mdi-navigation-expand-more"></i></a>
            </div>
        </div>
    </header>
