    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.waypoints.min.js"  | prepend: site.baseurl}}"></script>
    <script src="{{ "/js/owl.carousel.min.js"  | prepend: site.baseurl}}"></script>
    <script src="{{ "/js/bootstrap-progressbar.min.js"  | prepend: site.baseurl}}"></script>
    <script src="{{ "/js/parallax.min.js"  | prepend: site.baseurl}}"></script>
    <script src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>
