<!-- Skills Section -->
    <section id="skills" data-parallax="scroll" data-image-src={{"/img/skills-bg.jpg" | prepend: site.baseurl}} data-speed="0.5">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Skills</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="skills-box col-md-8">
                        <div class="all-skills">
                            {% for skill in site.skills %}
                            <div class="single-skill-box">
                                <div class="single-skill">
                                    <div class="progress vertical bottom">
                                        <div class="progress-bar" data-transitiongoal="{{ skill.percent }}">
                                            <div class="vr"></div>
                                            <span class="skill-text skill-name">{{skill.name}}</span>
                                            <span class="skill-text skill-percent">{{skill.percent}}%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="nav-side">
                            <div class="nav-btn">
                                <a class="btn-floating btn-large go go-left"><i class="mdi-navigation-chevron-left"></i></a>
                                <a class="btn-floating btn-large go go-right"><i class="mdi-navigation-chevron-right"></i></a>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
